/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin: 0;
}

/* Estilo do menu de navegação */
nav {
    background-color: #555;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #777;
}

/* Estilo da seção de motos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Estilo dos cartões de motos */
.card {
    background-color: white;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h3 {
    color: #333;
    margin-bottom: 10px;
}

.card p {
    color: #777;
    margin-bottom: 15px;
    font-size: 18px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218
}